<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @person.nombre %>
</p>
<div>
<%= image_tag @person.image_url.to_s %>
</div>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
